{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Файл загружен') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><div>{{ site_header|default:_('Загрузка файлов') }}</div></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'index' %}">{{ 'Вернуться на главную страницу' }}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}

{% block content %}
<h2>Файл Excel успешно загружен в базу данных</h2>
{% endblock %}