{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Загрузка файлов') }}{% endblock %}

{% block extrahead %}
    <style>
        input {
           /* display: none;*/
        }

        .progressbar{
            background-color: #79aec8;
            height: 24px;
            width: 0%;
        }
    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><div>{{ site_header|default:_('Загрузка файлов') }}</div></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{{ 'Редактировать базу данных земельных участков' }}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}

{% block content %}
<div id="content">
    <div>В базе данных <b>{{ count_rows }}</b> записей</div>
    <br>
    <form action="/excel/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>Выберите файл Excel</p>
        <input name="xls" type="file" id="xls">
        <!-- <label for="xls">Открыть...</label> -->
        <button type="submit">Загрузить в базу данных</button>
    </form>
    <br>
    <form action="/show_result/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>Выберите файл DXF</p>
        <input name="dxf" type="file" id="dxf">
        <!-- <label for="xls">Открыть...</label> -->
        <button {% if count_rows != 0 %} enabled {% else %} disabled {% endif %} type="submit">Создать HTML</button>
    </form>
    <br>
    <button id="but">Click</button>
    <div class="progressbar"></div>
</div>
{% endblock %}

{% block footer %}<div id="footer"></div>
<script>
    let button = document.getElementById('but')
    button.addEventListener('click', onClick)

    function onClick(){
        //setInterval(() => console.log(get_count()), 3000)
        console.log(get_count())
    }

    function get_count(){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/get_base_count/", true);
        xhr.onload = function (e) {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              console.log(xhr.responseText);
            } else {
              console.error(xhr.statusText);
            }
          }
        };
        xhr.onerror = function (e) {
          console.error(xhr.statusText);
        };
        xhr.send(null);
    }
</script>
{% endblock %}
<!--{% load staticfiles %}-->
<!--<script src="{% static 'js/app.js' %}"></script>-->
