<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>Choose DXF-file</p>
        <input name="dxf" type="file">
        <!--<p>Choose XLS-file</p>-->
        <!--<input name="xls" type="file">-->
        <br><br>
        <button type="submit">Load data</button>
    </form>
    <form action="/test/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>Choose XLS-file</p>
        <input name="xls" type="file">
        <button type="submit">Test Excel</button>
    </form>
</body>
</html>