{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Файл загружен') }}{% endblock %}

{% block extrastyle %}
<style>
    .road{
        stroke-width: 0.2px;
        fill: #e1e1eb;
    }

    .parcels{
        stroke: #2ee3ba;
        stroke-width: 0.2px;
    }

    .parcels-sold{
        fill: #fee6e9;
    }

    .parcels-free{
        fill: #ffffeb;
    }

    .parcels-booked{
        fill: #9c9c95;
    }

    .parcels:hover{
        fill: rgba(55,55,55,0.4);
    }

    .grass{
        stroke: #8a966e;
        stroke-width: 0.2px;
        fill: #b3e3ba;
    }

    .axis{
        stroke: #696a69;
        stroke-dasharray: 2;
        fill: none;
        stroke-width: 0.2px;
    }

    .text-id{
        font-size: 5px;
        cursor: default;
    }

    .text-area{
        font-size: 3px;
        cursor: default;
    }

    .line{
        stroke: #000000;
        fill: none;
        stroke-width: 0.2px;
    }

    .onpopup{
        width: 100px;
        height: 100px;
        background-color: red;
        position: relative;
        width: 120px;
        background-color: #fff;
        border: 1px solid #ccc;
        font-family: sans-serif;
        font-size: 16px;
        padding: 10px;
        padding-left: 10px;
        padding-left: 15px;
        border-radius: 10px;
        z-index: 1;
        max-height: 130px;
        overflow: hidden;
        background-color:
        #d7d7e1;
        border: 2px solid
        #3283ba;
        border-radius: 10px;
        font-weight: 500;
        text-align: left;
    }

    .onpopup .sold{
        color: #e82100;
    }

    .onpopup .free{
        color: #008000;
    }

    .onpopup .booked{
        color: #851194;
    }

    svg{
        border-style: solid;
        border-color: black;
        border-width: 1px;
        position: absolute;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><div>{{ site_header|default:_('Загрузка файлов') }}</div></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'index' %}">{{ 'Вернуться на главную страницу' }}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}

{% block content %}
<svg version="1.1"
         viewBox="1381935 -493220 1500 1000"
         baseProfile="full"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:ev="http://www.w3.org/2001/xml-events"
         width="1500" height="1000"><g>
    {{ svg }}
    </g>
    </svg>
    <div id="popup"></div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>

    let svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    let g = svg.selectAll("g")

    svg.call(d3.zoom()
            .scaleExtent([1, 8])
            .on("zoom", zoom));

    function zoom() {
      g.attr("transform", d3.event.transform);
    }

    let parcels = document.querySelectorAll('.parcels').forEach(
        function(item){
            item.addEventListener('mouseenter', onMouseEnter);
            item.addEventListener('mouseleave', onMouseLeave);
        }
    );

    let popup = document.getElementById("popup");

    const nan = NaN;
    const True = true;
    const False = false;
    let parcel_data = {{ parcel_data }};

    function onMouseEnter(e){
        let id = e.target.id;
        let area = parcel_data[id]['area'];
        let status = parcel_data[id]['status'];
        let price = parcel_data[id]['price'];

        popup.classList.add("onpopup");

        switch(status){
            case 'Sold':
                popup.innerHTML='Участок №'+id+'<br>'+area+' м<sup>2</sup><br>'+price+'<br>'+'<span class="sold">Продан</span>';
                break
            case 'Free':
                popup.innerHTML='Участок №'+id+'<br>'+area+' м<sup>2</sup><br>'+price+'<br>'+'<span class="free">Свободен</span>';
                break
            case 'Booked':
                popup.innerHTML='Участок №'+id+'<br>'+area+' м<sup>2</sup><br>'+price+'<br>'+'<span class="booked">Забронирован</span>';
                break
        }

        popup.style.left=e.pageX+"px";
        popup.style.top=e.pageY+"px";
    }

    function onMouseLeave(e){
        popup.classList.remove("onpopup");
        popup.innerText='';
    }

    </script>
{% endblock %}